@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.eot');
	src: local('☺'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('☺'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}


:root {
    --main-black: #070707;
    --main-grey: #828282;
    --section-grey:#F6F6F6;
    --main-white:#ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy', Arial, sans-serif ;
    font-size: 18px;
    font-weight: 500;
    color: var(--main-black);
}

.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    margin: 0;
    font-size: 34px;
    line-height: 42px;
    font-weight: 800;
    text-align: center;
    color: var(--main-black);
}

/*header*/

.header {
    background-color:var(--main-white) ;
}

.header__nav {
    padding-top: 32px;
    padding-bottom: 31px;
    border-bottom: 1px solid var(--main-grey);
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:15px 20px;
}

.nav__link {
    margin: 0;
    line-height: 22px;
    color: var(--main-grey);
}

.nav__link:hover {
    color: var(--main-black);
}

/* content*/

.content{
    padding-top: 39px;
    padding-bottom: 100px;
    background-color: var(--main-white);
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.content-wrapper__name {
    margin: 0;

    font-size: 47px;
    line-height: 58px;
    font-weight: 800;
    color: var(--main-black);
}

.content-wrapper__text {
    margin: 0;
    padding-top: 60px;
}

.content-wrapper__lang {
    display: inline-block;
    margin: 0;
    max-height: 100px;

    writing-mode: tb-rl;
    transform:rotate(180deg);
}

.content-wrapper__lang span {
    color: var(--main-grey);
}

.content__img {
    width: 100%;
}

/* about */

.about {
    padding-top: 110px;
    padding-bottom: 107px;
    background-color: var(--section-grey);
}

.about__title {
    margin: 0 0 25px 0;
}

.about__wrapper {
    max-width: 485px;
    margin: 0 auto;
}

.about__text {
    margin: 0;
    line-height: 21px;
    text-align: center;
    margin-bottom: 47px;
}

.about__text--last{
    max-width: 350px;
    margin: 0 auto;
}

/*skills*/

.skills {
    padding-top: 85px;
    padding-bottom: 100px;
    background-color: var(--main-white);
}

.skills__title {
    margin:0 0 60px 0;
}

.skills__subtitle {
    margin: 0 0 83px 0;
    text-align: center;
}

.skills__list {
    display: flex;
    justify-content: space-between;
}

.skill__item-pic {
    display: block;
    margin: 0 auto;
}

.skills__item-text {
    text-align: center;
    color: var(--main-grey);
}


.skills__item-text--figma {
    margin-bottom: 36px;
}

.skills__item-rating {
    display: block;
    margin: 0 auto;
}

/* portfolio */

.portfolio {
    padding-top: 135px;
    padding-bottom: 96px;
    background-color: var(--section-grey);
}

.portfolio__title {
    margin: 0 0 53px 0 ;
}

.portfolio__list {
    /*padding-bottom: 96px;*/
}

.portfolio__item:not(:last-child) {
    margin-bottom: 99px;
}

.portfolio__pic {
    width: 100%;
    margin-bottom: 38px;
}

.portfolio__link {
    display: block;
    margin: 0;

    text-align: center;
    
    line-height: 21px;
    color: var(--main-black);
    text-decoration: underline;
}

.portfolio__link:hover {
    cursor: pointer;
}

/* footer */

.footer {
    background-color: var(--main-white);
}

.contacts {
    padding-top: 114px;
    padding-bottom: 123px;
    margin: 0 auto;
    max-width: 365px;
}

.contacts__title {
    margin: 0 0 23px 0;
}

.contacts__subtitle{
    display: block;
    margin: 0 auto 30px;
    max-width: 275px;

    line-height: 21px;
    text-align: center;
}

.contacts__button {
    display: block;
    padding: 13px 29px;
    margin: 0 auto 85px;
    background-color: var(--main-black);
    color:white;
    border-radius: 50px;
    border: none;   
}

.contacts__button:hover {
    cursor: pointer;
    background-color: var(--main-grey);
}

.contacts-social__list {
    display: flex;
    justify-content: space-between;
    gap: 15px 20px;
    margin-bottom: 40px;
}

.contacts-social__pic:hover {
    opacity: 0.3;
}

.contacts__text {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--main-grey);
}